*{
    margin: 0;
    padding:0;
}
.content1{
    width: 100%;
    height: 700px;
    background-image: url(pexelsphoto3761118.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    color: white;
}
.content2{
    width: 30%;
    height: 200px;
    position: relative;
    top: 50%;
    margin-left: 6%;
}
.content2 input{
    width: 65%;
    height: 20%;
    margin-top: 25px;
}
.content2 button{
    width: 30%;
    height: 22%;
    margin-top: 25px;
    cursor: pointer;
    color: white;
    background-color:yellow ;
    border: none;
    outline: none;
}
.content2 a{
    text-decoration: none;
    font-size: 15px;
}
.content3{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #FFD24C;
  
}
.content4{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
   
}
.content5{
    width: 80%;
    height: 300px;
    
}
.content5 p{
    word-spacing: 1px;
    line-height: 30px;
    font-weight: bold;
    padding-right: 10px;

}
.content6{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content7{
    width: 75%;
    height: 90%;
    background-image: url(pexelsphoto305241.png);
    background-position: center;
    background-size: cover;
    margin-top: 10%;
}

.content8{
    width: 100%;
    height: 400px;
  
    display: flex;
    color: white;
  
}
.content8 p{
    word-spacing: 1px;
    font-size: 16px;

    text-align: justify;
}
.content8 h1{
font-size: 60px;
}
.content9{
    width: 25%;
    height: 100%;
    display: block;
    background-color: red;
   
}
.content10{
    width: 25%;
    background-color: #FFD24C;
    color: black;
    height: 100%;
   
}
.content11{
    width: 25%;
    height: 100%;
    background-color: #1B2430;
    
}
.content12{
    width: 25%;
    height: 100%;
    background-color: gray;
   
}
.circle{
    width: 60px;
    height: 60px;
    margin-top: 10%;
    border-radius: 50%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    color: transparent;

}
.content13{
    height: 60%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
 
}
.content14{
    width: 100%;
    height: 1250px;
    
    justify-content: right;
    background-color: #FFD24C;
}
.content15{
    width: 73%;
    height: 600px;
   position: relative;
   right: -27%;
   background-color: #1B2430;
}
.content16{
    width: 85%;
    height: 350px;
    position: relative;
    top: -40%;
    left: 7%;
    display: flex;
}
.content17{
    width: 32%;
    height: 100%;
    background-image: url(b4704305-02b9-df44-9385-ca1f598b4375.jpg);
    background-position: center;
    background-size: cover;
}
.content18{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    background-image: url(69567504b5d4d46d3d02a525a5798654.jpg);
    background-position: center;
    background-size: cover;
}
.content19{
    width: 85%;
    height: 350px;
    position: relative;
    top: -40%;
    left: 7%;
    display: flex;
    margin-top: 2%;
}
.content20{
    width: 32%;
    height: 100%;
    background-image: url(3aca5d6784ab3df60fe6cdf1e45adec7.jpg);
    background-position: center;
    background-size: cover;
}
.content21{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    background-image: url(82f152dd4d93f03c195531c931a4eb70.jpg);
    background-position: center;
    background-size: cover;
}
.content23{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    background-image: url(5396baf5a88516441c2b2d30f9c941ae.jpg);
    background-position: center;
    background-size: cover;
}
.content24{
    width: 85%;
    height: 350px;
    position: relative;
    top: -40%;
    left: 7%;
    display: flex;
    margin-top: 2%;
}
.content25{
    width: 32%;
    height: 100%;
    border: 1px solid black;
}
.content26{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    background-image: url(PRFotografie_FirmenportraitskopfundkragenFotografie.jpg);
    background-position: center;
    background-size: cover;
}
.content27{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    background-image: url(1q.png);
    background-position: center;
    background-size: cover;
}
.content28{
    width: 100%;
    height: 750px;
    display: flex;
    background-color: #1B2430;
    justify-content: center;
   
}
.content29{
    margin-top: 150px;
    width: 50%;
    background-color: red;
    height: 300px;
   
}
.content30{
    width: 70%;
    height: 500px;
    position: relative;
    top: -30%;
    left: 15%;
    
    background-image: url(pexelsphoto412840.jpeg);
    background-position: center;
    background-size: cover;
}
.content31{
    width: 70%;
    position: relative;
    top: -15%;
    color: white;
    text-align: center;
    height: auto;
    left: 15%;
    
}
.content32{
    width: 100%;
    height: 200px;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
    
}
.content33{
    width: 20%;
    height: 60%;
    color: white;
    text-align: center;
}
.content34{
    width: 100%;
    height: 50%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}
.content35{
    width: 100%;
    color: white;
    background-color: #1B2430;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content36{
    width: 40%;
    height: 80%;
}
.content37{
    width: 40%;
    height: 80%;
   
}
.content37 input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
#text{
    height: 100px;
}
.content37 button{
    height: 40px;
    width: 30%;
    cursor: pointer;
    letter-spacing:2px ;
    margin: 10px 0;
    font-size: large;
}

.content38{
    display: block;
    text-align: justify;
    width: 90%;
    height: 50%;
}
.content39{
    width: 90%;
    height: 50%;
}
.content40{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

